<ion-header>
  <ion-navbar>
    <ion-row>
      <ion-col>
      <ion-select [(ngModel)]="filt" (ionChange)='filterChanged()' placeholder="Sort By">
          <ion-option value="asc">Name (A - Z)</ion-option>
          <ion-option value="desc">Name (Z - A)</ion-option>
          <ion-option value="scoreasc">Rank ↑</ion-option>
          <ion-option value="scoredesc">Rank ↓</ion-option>
        </ion-select>
      </ion-col>
      <ion-col>
    <ion-searchbar [(ngModel)]="searchString" [debounce]="700" (ionInput)="searchUser($event)"></ion-searchbar>
  </ion-col>
  </ion-row>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="data!={}">
  <ion-label *ngIf="data.total_count">Total Count: {{data.total_count}}</ion-label>
  <ion-list>
      <ion-card *ngFor="let item of data.items | sort:order:srt">
      <ion-card-content>
          <ion-item>
              <ion-avatar item-start>
                  <img class="avtr" src="{{item.avatar_url}}">
              </ion-avatar>
              <h2>{{item.login}}</h2>
              <p class="prourl">Profile URL: <a href="{{item.html_url}}">{{item.html_url}}</a></p>
              <button ion-button item-end class="collapsebtn" (click)="toggleDetails(item)">{{isShownGroup(item) ? 'Collapse' : 'Details'}}</button>
            </ion-item>
            <ion-item *ngIf="repos.length && isShownGroup(item)">
            <ion-list>
                <ion-row *ngFor="let repo of repos" class="mydata">
                  <ion-col>
                    {{repo.name}}
                  </ion-col>
                  <ion-col>
                    {{repo.language}}
                  </ion-col>
                </ion-row>
              </ion-list>
            </ion-item>
      </ion-card-content>
      </ion-card>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>
